@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
body{
    background-color: white;
}

.tabs{
    display: flex;
    list-style: none;
    background-color: wheat;
    font-size: 1.5rem;
    height: 6rem;
    cursor: pointer;
    margin-top: 0rem;
    

    
}

 .App {

    text-align: center;

  }
   

  
  .tab {
    margin-right: 5rem;
    margin-top: 1rem;
  }
  
  .active {
    color: royalblue;
  }
  